<%- include('../partials/header') %>
  <body>
    <nav class="navbar navbar-Dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand text-white border-white" href="#">Meetser</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" href="/"
              >Home</a
            >
            <a class="nav-link text-white" href="/meetings/">ALL Meetings</a>
            <a class="nav-link text-white" href="/meetings/new">ADD Meeting</a>
            <a
              id="login-button"
              ms-hide-element="true"
              href="/google/"
              class="button logout login w-button"
              >Login</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="bgi">
      <table id="list">
  <form action="/meetings" method="POST">
  <div class="add-meeting row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" name="contact" class="form-control" />
        <label class="form-label">Contact</label>
      </div>
    </div>
  <div class="form-outline mb-4">
    <input type="text" name="event" class="form-control" />
    <label class="form-label" >Event</label>
  <div class="form-outline mb-4">
    <input type="text" name="date" class="form-control" />
    <label class="form-label" >Date</label>
  </div>
    <div class="form-outline mb-4">
    <input type="text" name="location" class="form-control" />
    <label class="form-label" for="form6Example5">Location</label>
  </div>

  <button type="submit" class="add-button">Add</button>
  </div>
</form>
</table>


<%- include('../partials/footer.ejs') %>
