<%- include('../partials/header') %>
<body>
  <nav class="navbar navbar-Dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand text-white border-white" href="/meetings/"
        >Meetser</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="/"
            >Home</a
          >
          <a class="nav-link text-white" href="/meetings/">ALL Meetings</a>
          <a class="nav-link text-white" href="/meetings/new">ADD Meeting</a>
          <a
            id="login-button"
            ms-hide-element="true"
            href="/google/"
            class="button logout login w-button"
            >Login</a
          >
        </div>
      </div>
    </div>
  </nav>
  <div class="bgi">
    <div id="column">
      <section id="show-notes">
        <% if (meeting.notes.length) { %>

        <table class="table">
          <thead>
            <th scope="col">Note:</th>
          </thead>

          <% meeting.notes.forEach(function(n) {%>
          <tr>
            <td id="note-text"><%=n.text%></td>
          </tr>
          <% }); %>
        </table>
        <% } %>
        <section id="add-note">
          <form
            action="/meetings/<%= meeting._id %>/notes"
            method="POST"
            id="add-notes-form"
          >
            <h3>ADD NOTES</h3>
            <input type="text" name="note" class="form-control" />
            <br />
            <input
              type="submit"
              class="btn btn-primary"
              id="note-btn"
              value="Add Note"
            />
          </form>
        </section>
      </section>
    </div>
  </div>
</body>
<%- include('../partials/footer') %>
