<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= 'title' %></title>
  </head>

  <body>
    <div class="container">
      <nav>
        <h1>
          <%= 'title' %> <a class="button" href="/meetings/">ALL Meetings</a
          ><a class="button" href="/meetings/new">ADD Meeting</a>
        </h1>
      </nav>
      <br />
    </div>
  </body>
</html>
