<nav class="navbar navbar-Dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white border-white" href="/meetings/"
      >Meetser</a
    >
    <a class="nav-link text-white" href="/meetings/">ALL Meetings</a>
    <a class="nav-link text-white" href="/meetings/new">ADD Meeting</a>
  </div>
</nav>
