<%- include('partials/header') %>
  
  <body>
    <nav class="navbar navbar-Dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand text-white border-white" href="/meetings/">Meetser</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" href="/"
              >Home</a
            >
            <a class="nav-link text-white" href="/meetings/">ALL Meetings</a>
            <a class="nav-link text-white" href="/meetings/new">ADD Meeting</a>
            <a class="btn btn-outline-primary btn-sm" href="/google/" >Login</a>
            
          </div>
        </div>
      </div>
    </nav>
    <div class="bgi">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="text">Welcome to Meetser</div>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
  </body>
</html>
