body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.bg-dark {
  color: white;
  border-radius: 5px;
}

.bgi {
  background-image: url('https://images.pexels.com/photos/5797898/pexels-photo-5797898.jpeg');
  height: 100vh;
  background-size: cover;
  z-index: 100;
}
.text {
  font-size: 75px;
  font-weight: bold;
  position: relative;
  padding: 6.3em;
  text-align: center;
  height: 100vh;
  text-shadow: -2px -2px 0 rgb(154, 94, 236), 1px -1px 0 rgb(155, 94, 164),
    -1px 1px 0 rgb(155, 94, 164), 1px 1px 0 rgb(155, 94, 164);
}

.all-meeting {
  position: absolute;
  padding: 5em;
  width: 100%;
}

.form-label {
  font-weight: bold;
  color: rgba(1, 2, 5, 0.792);
  position: relative;
  left: 40%;
}

.add-meeting {
  width: 550px;
  position: relative;
  left: 35%;
}
input#New-Meeting {
  position: relative;
  left: 35%;
}
input#Edit {
  position: relative;
  left: 40%;
}
td#note-text {
  background-color: #fff;
}
